<div class="experts-answer expertCss">
    <div class="title">
        <i class="icon"></i>
        <h2 class="name">专家解答</h2>
        <span class="tips">/&nbsp;&nbsp;第一时间为你解答投资困惑</span>
        <span class="line"></span>
        <a href="/zj/wenda.html" target="_blank"><span class="experts_more_about">更多>></span></a>    
    </div>
    <div class="flexslider">
        <ul class="slides">
            {% for item in expertList %}
                <li>
                    <div class="box">
                        <div class="avatar">
                            <a href="/zj/{{item.expertId}}/guandian.html" target="_blank" 
                            >
                            <img src="{{item.authorImageUrl}}" alt="{{item.author}}" />
                            <i class="icon"></i></a>
                        </div>
                        <div class="name">
                            <a href="/zj/{{item.expertId}}/guandian.html" target="_blank" 
                            >{{item.author}}</a>
                        </div>
                        <div class="desc">
                            简介: {% if item.desc.length >24 %} 
                                    {{item.desc.slice(0,24)}}...
                                  {% else %}
                                    {{item.desc}}
                                  {% endif %}
                        </div>
                        <div class="good">
                            擅长: {% for goodAt in item.goodAt %}
                                {% if loop.index < 4 %}
                                    {{goodAt.catName}}
                                {% endif %}
                            {% endfor%}
                        </div>
                        <a class="question" ng-click="ask({{expertListStr}},{{loop.index0}})" > 提问</a>
                    </div>
                </li> 
            {% endfor %}
        </ul>
    </div>
</div>