<div class="footer" id="Footer" data-ng-controller="footerController">
    <div class="layout">
        <div class="pic">
            <div class="logo"><a href="/" target="_blank"><img src="/imgs/footLogo.png" alt="新融街"></a></div>
            <div class="code">
                <div class="code1"><a href="/appDownload" target="_blank"><img src="/imgs/code.png" alt="新融街客户端"><div class="tite">新融街客户端</div></a></div>
                <div class="code2"><img src="/imgs/weixinCode.png" alt="关注新融街微信"><div class="title">关注新融街微信</div></div>
            </div>
        </div>
        <div class="other">
            <div class="tit">联系我们</div>
            <ul class="other-list">
                <li class="first"><i class="iconfont icon-dianhua"></i><span>客服热线：400-8251-009</span></li>
                <li><i class="iconfont icon-shijian"></i><span>在线时间：周一至周日  8：30-17：30</span></li>
                <li><i class="iconfont icon-svg17"></i><span>邮箱：bd@xinrongnews.com</span></li>
                <li><i class="iconfont icon-zhengjianhao"></i><span class="operate_icon"><a href="">增值电信业务经营许可证：浙B2-20160722</a></span></li>
            </ul>
        </div>
        <div class="link">
            <div class="tit">更多服务</div>
            <ul class="compare-list">
                <li><a href="/about/advertisement.html" target="_blank">广告服务</a></li>
                <li><a href="/about/feedback.html" target="_blank">投诉与意见</a></li>
            </ul>
        </div>
        <div class="toolbar" id="toolbar">
            <ul class="toolbar-list">
                <li class="li3">
                    <div class="icon"><a ng-click="contribute()"  target="_blank" rel="nofollow" class="title" style="display: block;">我要<br>投稿</a></div>
                </li>
                <li class="li1">
                    <div class="icon"><i class="iconfont icon-erweima"></i><span class="title">扫二<br>维码</span></div>
                    <div class="code">
                        <img src="/imgs/code.png" alt="新融街客户端"><div class="tit">新融街客户端</div>
                    </div>
                </li>
                <li class="li2">
                    <div class="icon"><i class="iconfont icon-weixin"></i></div>
                    <div class="code"><img src="/imgs/weixinCode.png" alt="关注新融街微信"><div class="tit">关注新融街微信</div></div>
                </li>
                <li class="li3"><div class="icon"><i class="iconfont icon-arrows-copy"></i></div></li>
            </ul>
        </div>
    </div>
    <div class="contact">
        <div class="layout">
            <div class="copyright"><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602004765" style="display:inline;padding-right:10px;"><img src="/imgs/footer.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#fff;">浙公网安备 33010602004765号</p></a>版权所有：浙江烨茂科技有限公司 浙ICP备16018618号-1<span>&copy; 2016 Zhejiang Yemao Technology Co.,Ltd. </span></div>
            <ul class="link-list">
                <li><a href="/about/about_us.html" target="_blank" rel="nofollow">关于我们</a></li>
                <li><a href="/about/advertisement.html" target="_blank" rel="nofollow">广告服务</a></li>
                <li><a href="/about/feedback.html" target="_blank" rel="nofollow">意见留言</a></li>
                <li><a href="/sitemap.html" target="_blank" >站点地图</a></li>
                <li><a href="/about/disclaimer.html" target="_blank" rel="nofollow">免责声明</a></li>
                <li><a href="/about/contact.html" target="_blank" rel="nofollow">联系我们</a></li>
            </ul>
        </div>
    </div>
    <div class="passport_container_outer">
        <div class="passport_container">
            <a class="passport_internet" target='_blank'  href='http://idinfo.zjaic.gov.cn//bscx.do?method=lzxx&id=3301063301060001112381'><img src='http://idinfo.zjaic.gov.cn//login.do?method=createLZ&id=3301063301060001112381'/></a>
            <a  key ="5994013d2548be20ad9e847a"  class="passport_quanguoaq" logo_size="124x47"  logo_type="common"  href="http://www.anquan.org" ><script src="//static.anquan.org/static/outer/js/aq_auth.js"></script></a>
            <a class="passport_360safe" href="http://webscan.360.cn/index/checkwebsite?url=http%3A%2F%2Fwww.xinrongnews.com%2F" target="_blank"><img src="/imgs/nav/360_safe_check.png" alt="360网站安全检测" /></a>
            <a  key ="5994013d2548be20ad9e847a"  class="passport_anquanlm" logo_size="124x47"  logo_type="realname"  href="http://www.anquan.org" ><script src="//static.anquan.org/static/outer/js/aq_auth.js"></script></a>
            <a class="passport_baidukoubei" href="https://koubei.baidu.com/s/www.xinrongnews.com?from=ps_pc4" target="_blank"><img src="/imgs/nav/baidu_koubei.png" alt="百度口碑" /></a>
            <a class="passport_net_report" href="http://report.12377.cn:13225/toreportinputNormal_anis.do?spm=a21bo.50862.1997523009.48.28689e73oUqgVY&file=toreportinputNormal_anis.do" target="_blank"><img src="/imgs/nav/cn_internet_report.png" alt="中国互联网违法和不良信息举报中心" /></a>
        </div>
    </div>
</div>
