{% raw %}
<div ng-cloak class="fund wrap-box mb30" id="fund"  data-ng-controller="fundController">
    <div class="wrap-tit"><span>基金榜</span>
        <div class="bar">
            <a ng-repeat="menu in menus" ng-class="{bar1: true, on:isCurrent==$index}" ng-mouseover="tabToggle($index)">{{menu.name}}
                <i class="icon"></i>
            </a>
        </div>
    </div>
    <div class="wrap-content">
        <table ng-repeat="item in items" ng-class="{hide:isCurrent!=$index}">
            <thead>
                <th class="first">排名</th>
                <th class='name'>基金简称</th>
                <th class='code'>基金代码</th>
                <th class="last">今年以来收益</th>
            </thead>
            <tbody>
                <tr ng-repeat="it in item"  class="t{{$index%2}} {{it | isUp}}">
                    <td class='first rank{{$index+1}}' ng-bind="it.rank"></td>
                    <td class='name' title='{{it.name}}'><span ng-bind="it.name"></span></td>
                    <td class='code' ng-bind="it.code"></td>
                    <td class='last' ng-bind="it.income">%</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="loading" ng-if="isloading"><img src="/imgs/loading.gif" width="18" height="18" alt="">加载中...</div>
    <div class="error" ng-if="error"><i class="iconfont icon-gantanhao"></i><span>糟糕，页面失联了</span></div>
</div>
{% endraw %}