<!--end 中债企债国债-->
<div class="ra tabs1 charts mb30" id="sideBond">
    <div class="menu">
        <ul>
            <li id="t11" class="hover"><em>国债指数</em></li>
            <li id="t12" ><em>企债指数</em></li>
            <li id="t13" ><em>中债指数</em></li>
        </ul>
    </div>
    <div class="cont">
        <div id="con_t1_1" class="box"><object type="application/x-shockwave-flash" data="http://f0.jrj.com.cn/hq2/hqzs.swf?0.4987161242824534" width="320" height="250" id="focus_flash" ><param name="wmode" value="opaque"><param name="AllowScriptAccess" value="always"><param name="flashvars" value="first=000012|I&amp;url=share.jrj.com.cn"></object></div>
        <div id="con_t1_2"  class="box hide"></div>
        <div id="con_t1_3"  class="box hide"><img src="http://bond.jrj.com.cn/images/chinabond/indexicon.jpg" height="270" width="320" alt=""></div>
    </div>
    <script type="text/javascript" src="http://bond.jrj.com.cn/images/flash/swfobject.js"></script>
    <script>
        swfobject.embedSWF("http://f0.jrj.com.cn/hq2/hqzs.swf?"+Math.random(), "focus_flash", "320", "250", "9.0.0", "",{first:"000012|I",url:'share.jrj.com.cn'},{wmode:"opaque",AllowScriptAccess:"always"})
        function isReady(){return true;}
    </script>
</div>

<!--end 中债企债国债-->