{% extends "common.html" %}

{% block title %} {{banner.subject}}-新融街xinrongnews.com {% endblock %}
{% block keywords %} {{banner.subject}} {% endblock %}
{% block description %} {{banner.subject}} {% endblock %}

{% block header %}
<link href="/css/list.css" rel="stylesheet" type="text/css" />
<link href="/css/detail.css" rel="stylesheet" type="text/css" />
<link href="/css/ht.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    {% include "./common/nav.html" %}
    <div class="center">
        <div class="picDel">
            <div class="container">
                <img src="{{banner.video_url if banner.video_url else '/imgs/ht/topic_define.jpg'}}" alt="{{banner.subject}}">
                <div class="mask">
                    <div>
                        <h1>{{banner.subject}}</h1>
                        <span></span>
                        <p>{{banner.summary}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt20 topicListView">
            <div class="col-md-8">
                <div class="col-sm-12 newslist">
                    <ul class="part">
                        {% for item in list %}
                        <li>
                            <a href="{{item.news_url}}" target="_blank" title="{{item.news_recommend_subject}}" class="bg"></a>
                            <div class="listViewLeft">
                                <img src="{{item.pic_url_list}}" alt="{{item.news_recommend_subject}}">
                            </div>
                            <div class="listViewRight">
                                <h2 class="normal_caption"><a href="{{item.news_url}}" target="_blank" title="{{item.news_recommend_subject}}">{{item.news_recommend_subject}}</a></h2>
                                <a href="{{item.news_url}}" target="_blank" title="{{item.news_recommend_subject}}"><p class="normal_content trim">{{item.news.dataValues.summary}}</p></a>
                                <p class="normal_date">{{item.news_time}}</p>
                                <p class="normal_date normal_source">{{item.news.dataValues.news_source}}</p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ml30 mt30">
                    {% include "./common/recommend.html" %}
                </div>
                {% include "./common/detailsNormalNews.html" %}
            </div>
        </div>
        <div class="hotTopicList">
            <div class="minTitle">
                <a href="/ht/" target="_blank"><h3>热门话题</h3></a>
                <span class="time_tl">Hot Topic</span>
                <span class="more"><a href="/ht/" target="_blank">查看更多>></a></span>
                <div class="arrow"></div>
            </div>
        </div>
        <ul class="topicList hotTopicListMore">
            {% for item in hot %}
            <li class="picSet">
                <a href="{{item.news_url}}" target="_blank">
                    <div class="container targetEl">
                        <img src="{{item.thumbnail_url}}" alt="{{item.subject}}">
                        <div class="mask">
                            <div>{{item.topics.length}}篇<span>{{item.time}}</span></div>
                        </div>
                    </div>
                    <div class="subject">
                        <a href="{{item.news_url}}"><p>{{item.subject}}</p></a>
                        <span></span>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/js/ht.js"></script>
{% endblock %}
