{% extends "common.html" %}

{% block title %} {{meta.title}} {% endblock %}
{% block keywords %} {{meta.keywords}} {% endblock %}
{% block description %} {{meta.description}} {% endblock %}

{% block header %}
<link rel="stylesheet" href="/css/daily.css">
{% endblock %}

{% block content %}
    <div class="daily-container">
        <ul class="daily-nav">
            <li><a href="/yuanchuang/">原创综合</a></li>
            <li><a href="/word/">每日热搜</a></li>
            <li class="daily-on"><a href="/meirixinwen/">每日新闻</a></li>
            <li></li>
        </ul>
        <ul id="dailyNewsNav">
            {% for item in channelCode %}
            <li {% if loop.index == 1 %} class="daily-news-on" {% endif %}><a href="#{{item.code}}">{{item.name}}</a></li>
            {% endfor %}
        </ul>
        <div id="dailyNewsContainer">
            {% for item in channelResult %}
            <div class="daily-new-channel" id="{{channelCode[loop.index-1].code}}">
                <div class="news_caption"><h3>{{channelCode[loop.index-1].name}}</h3><p class="caption_en">{{channelCode[loop.index-1].enName}}</p></div>
                <ul class="daily-news-list">
                    {% for i in item.slice(0,10) %}
                    <li><a href="{{i.news_url}}" title="{{i.subject | safe}}" target="_blank"><p>{{i.subject | safe}}</p><p class="hot_news_date">{{i.time.slice(5,10)}}</p></a></li>
                    {% endfor %}
                </ul>
                <ul class="daily-news-list list-right">
                    {% for i in item.slice(10,20) %}
                    <li><a href="{{i.news_url}}" title="{{i.subject | safe}}" target="_blank"><p>{{i.subject | safe}}</p><p class="hot_news_date">{{i.time.slice(5,10)}}</p></a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="/js/ht.js"></script>
{% endblock %}
