<div class="nav_main">
    <div class="content">
        <ul class="nav-us">
            <li class="{% if meta.title == '关于我们' %} on {% endif %}"><a href="../about/about_us.html" rel="nofollow">关于我们</a></li>
            <li class="{% if meta.title == '广告服务' %} on {% endif %}"><a href="../about/advertisement.html" rel="nofollow">广告服务</a></li>
            <li class="{% if meta.title == '意见留言' %} on {% endif %}"><a href="../about/feedback.html" rel="nofollow">意见留言</a></li>
            <li class="{% if meta.title == '友情链接' %} on {% endif %}"><a href="../about/friendLink.html" >友情链接</a></li>
            <li class="{% if meta.title == '免责声明' %} on {% endif %}"><a href="../about/disclaimer.html" rel="nofollow">免责声明</a></li>
            <li class="{% if meta.title == '联系我们' %} on {% endif %}"><a href="../about/contact_us.html" rel="nofollow">联系我们</a></li>
            <li class="{% if meta.title == '网站地图' %} on {% endif %}"><a href="../sitemap.html">网站地图</a></li>
            <li class="last_One {% if meta.title == '运营许可' %} on {% endif %}"><a href="../license/dxzz.html">运营许可</a></li>
        </ul>
    </div>
</div>